<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="keywords" content="семейный бюджет, личные финансы">
  <meta name="description" content="Одностраничное веб-приложение для учета личных финансов и планирования семейного бюджета. Доступны следующие функции: учет доходов, учет сбережений, установка лимитов по расходам и учет расходов по категориям. Страница состоит из 4 разделов: доходы, сбережения, лимиты, расходы. По умолчанию отображаются по 5 последних записей в доходах и сбережениях и по 7 последних записей в лимитах и расходах.">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='style.css' />
   <script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

<div id="customAlert">
    
</div>





	<div class="row">

		<div class="col-xs-5"> <!-- ДОХОДЫ -->
		  	<h2><%=accountInfo.title%></h2>
 	        <table class="table table-hover">
                <thead></th><th>Название</th><th>Сумма</th></tr></thead>
                <tbody id="доходы">

                <% accountInfo.info.forEach(function(account) { %>
                <tr>
                    <td>
                        <%=account.name%>
                    </td>
                    <td>
                        <%=account.ammount%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
		</div>

		<div class="col-xs-5 pull-right"> <!-- СБЕРЕЖЕНИЯ -->
    <!--  view 2 = Сбережения, разделитель, кнопки - дата, сумма, цель
поле ввода, подсветка, курсор: дд.мм.гг - 0,00 р., квартира - высветленный шрифт
последние 5 операций - таблица, шрифт черный. Кнопка Календарь
нажатие на строку  -> поле, подсветка, курсор
функции кнопок - фильтр +/-, подсветка кнопки при +
Строка Итого, сумма, дата, кнопка календарь. По умолчанию - сумма отображенных.-->
	  		<h2>Сбережения</h2>
  			<p></p> 
		</div>

	 </div>






	<div class="row">


<div class="col-xs-5"> <!-- ЛИМИТЫ -->
    <div>
        <h2><%=categories.title%></h2>
         <button type="button" class="btn btn-primary", id="showInsertCategoryField">+</button> <!-- КНОПКА + -->
    </div>
       
    <form class="form-inline", style="margin-top: 1%;", id="insertCategoryField", hidden="true">
        <input type="text" class="form-control" id="categoryName" placeholder="Название">
        <input type="number" step="100" min="0" class="form-control" id="categoryLimit" placeholder="Лимит">
        <button type="button" class="btn btn-primary", id="insertNewCategory">Внести</button>
    </form>

    <table class="table table-hover", id="Лимиты">
        <thead></th><th>Название</th><th>Потрачено</th><th>Лимит</th></tr></thead>
        <tbody>

        <% categories.info.forEach(function(category) { %>
        <tr>
            <td>
                <%=category.name%>
            </td>
            <td>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%;">60%</div>
            </div>
                <%=category.spent%>
            </td>
            <td>
                <%=category.limit%>
            </td>
        </tr>
        <% }) %>

        </tbody>
    </table>
 </div>


		<div class="col-xs-5 pull-right"> <!-- РАСХОДЫ -->
		     <h2>Расходы</h2>
	  		<form class="form-inline" style="margin-top: 2%;">
			  <div class="form-group">
			    <input type="number" step="50" min="0" class="form-control" id="outgoungAmount" placeholder="Сумма">
			  </div>
			  <div class="form-group">

				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", id="categoryListTouched">Категория <span class="caret"></span></button>
				  <ul class="dropdown-menu", id="dropdownCategories">
				  </ul>
				</div>

			  </div>
			  <button type="button" class="btn btn-primary", id="insertNewTransaction">Внести</button>

			</form>

			<table class="table table-hover", id="расходы">
                <thead></th><th>Потрачено</th><th>Категория</th><th>Дата</th></tr></thead>
                <tbody>

                <% transactions.info.forEach(function(transaction) { %>
                <tr>
                    <td>
                        <%=transaction.amount%>
                    </td>
                    <td>
                        <%=transaction.destination%>
                    </td>
                    <td>
                        <%=transaction.date%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
		</div>


	 </div>

</div>


<script type="text/javascript">
	


    /////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////// ЛИМИТЫ /////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////

    // показать поле создания новой категории
    $('#showInsertCategoryField').click(function() {
        $('#insertCategoryField').toggle()
        $.post('/categories', function(res) {

            $('#dropdownCategories').empty();
             for (var data in res) {
                $('#dropdownCategories').append('<li><a href="#">'+res[data].name+'</a></li>');
            }     
        });
    });


    // создание новой категории расходов
    $('#insertNewCategory').click(function() {
        var categoryName =  $("#categoryName").val()
        var categoryLimit = $("#categoryLimit").val()

        if (!categoryName || !categoryLimit) {
            showAlert("Заполните поля")
            return
        }
        var data = {
             name: 'insertNewCategory',
             categoryName: categoryName,
             categoryLimit: categoryLimit
         };
        console.log(data)
        $.post('/', data, function(res) {

            $('#categoryName').val("");
            $('#categoryLimit').val("");

            for (var data in res) {
                $('#Лимиты').append('<tr><td>'+res[data].name+'</td><td>'+res[data].amount+'</td><td>'+res[data].limit+'</td></tr>');
            }
        });
    });
    /////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////




    /////////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////// РАСХОДЫ ////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////

    // dropdown показа категорий
    $('#categoryListTouched').click(function() {
        $.post('/categories', function(res) {
            $('#dropdownCategories').empty();
                for (var index in res) {
                    $('#dropdownCategories').append('<li><a href="#">'+res[index].name+'</a></li>');
                }     
        });
    });

    // выбор категории из списка
    $(function() {
        $(".dropdown-menu").on('click', 'li a', function(){
            $(".btn:first-child").text($(this).text());
            $(".btn:first-child").val($(this).text());

        });
    });

    // создание новой транзакции
    $('#insertNewTransaction').click(function() {
        var category =  $(".btn:first-child").val()
        var outgoungAmount = $("#outgoungAmount").val()
        if (!outgoungAmount || outgoungAmount == 0) {
            showAlert("Введите сумму")
            return
        }
        var data = {
             name: 'insertNewTransaction',
             category: category,
             outgoungAmount: outgoungAmount
         };
         console.log(data)

        $.post('/', data, function(res) {

            $('#расходы').empty();
            for (var data in res) {
                $('#расходы').append('<tr><td>'+res[data].name+'</td><td>'+res[data].ammount+'</td></tr>');
            }
        });
    });
    /////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////

    

    ////// HELPERS ////////

    function showAlert(text) {
        var alert = $('<div class="alert alert-warning alert-dismissible" role="alert" style="margin-top: 2%;><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>  '+text+'</div>')
        $('#customAlert').append(alert)
    }
</script>




<!--         <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
        Launch demo modal
        </button> -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




</body>
</html>












