<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="keywords" content="семейный бюджет, личные финансы">
  <meta name="description" content="Одностраничное веб-приложение для учета личных финансов и планирования семейного бюджета. Доступны следующие функции: учет доходов, учет сбережений, установка лимитов по расходам и учет расходов по категориям. Страница состоит из 4 разделов: доходы, сбережения, лимиты, расходы. По умолчанию отображаются по 5 последних записей в доходах и сбережениях и по 7 последних записей в лимитах и расходах.">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='style.css' />
   <script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

	<div class="row">

		<div class="col-xs-5">
		  	<h2><%=accountInfo.title%></h2>
		  	<!-- <button type="button" class="btn btn-default">Left</button> -->
 	        <table class="table table-hover">
                <thead></th><th>Название</th><th>Сумма</th></tr></thead>
                <tbody id="расходы">

                <% accountInfo.info.forEach(function(account) { %>
                <tr>
                    <td>
                        <%=account.name%>
                    </td>
                    <td>
                        <%=account.ammount%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
		</div>

		<div class="col-xs-5 pull-right">
    <!--  view 2 = Сбережения, разделитель, кнопки - дата, сумма, цель
поле ввода, подсветка, курсор: дд.мм.гг - 0,00 р., квартира - высветленный шрифт
последние 5 операций - таблица, шрифт черный. Кнопка Календарь
нажатие на строку  -> поле, подсветка, курсор
функции кнопок - фильтр +/-, подсветка кнопки при +
Строка Итого, сумма, дата, кнопка календарь. По умолчанию - сумма отображенных.-->
	  		<h2>Сбережения</h2>
  			<p></p> 
		</div>

	 </div>






	<div class="row">


<div class="col-xs-5">
            <h2><%=categories.title%></h2>
            <table class="table table-hover">
                <thead></th><th>Название</th><th>Потрачено</th><th>Лимит</th></tr></thead>
                <tbody>

                <% categories.info.forEach(function(category) { %>
                <tr>
                    <td>
                        <%=category.name%>
                    </td>
                    <td>
                        <%=category.spent%>
                    </td>
                    <td>
                        <%=category.limit%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
        </div>


		<div class="col-xs-5 pull-right">
		<h2>Расходы</h2>
	  		<form class="form-inline" style="margin-top: 2%;">
			  <div class="form-group">
			    <input type="text" class="form-control" id="exampleInputName2" placeholder="Сумма">
			  </div>
			  <div class="form-group">



				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Категория <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div>


			  </div>
			  <button type="button" class="btn btn-primary", id="newElementTouched">Внести</button>

			</form>

			<table class="table table-hover">
                <thead></th><th>Потрачено</th><th>Категория</th><th>Дата</th></tr></thead>
                <tbody>

                <% transactions.info.forEach(function(transaction) { %>
                <tr>
                    <td>
                        <%=transaction.amount%>
                    </td>
                    <td>
                        <%=transaction.destination%>
                    </td>
                    <td>
                        <%=transaction.date%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>

		</div>


	 </div>

</div>


<script type="text/javascript">
	
	$('#newElementTouched').click(function() {
    	var data = { name: 'insertNewTransaction' };
    	$.post('/', data, function(res) {

    		$('#расходы').empty();
   			 for (var data in res) {
       			$('#расходы').append('<tr><td>'+res[data].name+'</td><td>'+res[data].ammount+'</td></tr>');
  			  }
    	});
	});
</script>










</body>
</html>












