<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='style.css' />

   <script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

































<div class="container">

	<div class="row">

		<div class="col-xs-5">
		  	<h2><%=accountInfo.title%></h2>
 	        <table class="table table-hover">
                <thead></th><th>Название</th><th>Сумма</th></tr></thead>
                <tbody>

                <% accountInfo.info.forEach(function(account) { %>
                <tr>
                    <td>
                        <%=account.name%>
                    </td>
                    <td>
                        <%=account.ammount%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
		</div>

		<div class="col-xs-5 pull-right">
	  		<h1>My First Bootstrap Page</h1>
  			<p>This is some text.</p> 
		</div>

	 </div>



	<div class="row">

		<div class="col-xs-5">
	  		<h1>My First Bootstrap Page</h1>
  			<p>This is some text.</p> 
		</div>

		<div class="col-xs-5 pull-right">
			<h2><%=categories.title%></h2>
	  		<table class="table table-hover">
                <thead></th><th>Название</th><th>Потрачено</th><th>Лимит</th></tr></thead>
                <tbody>

                <% categories.info.forEach(function(category) { %>
                <tr>
                    <td>
                        <%=category.name%>
                    </td>
                    <td>
                        <%=category.spent%>
                    </td>
                    <td>
                        <%=category.limit%>
                    </td>
                </tr>
                <% }) %>

                </tbody>
            </table>
		</div>

	 </div>

</div>













</body>
</html>












